:root {
  --primary-color: rgb(74, 80, 41);
  --secondary-color: #deebe0;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  background: #eacb9f;
  background-origin: border-box;
  background-repeat: no-repeat;
  font-family: cursive;
}
h1 {
  color: var(--primary-color);
  font-size: 100px;
}
.photo-img {
  margin: 100px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  width: 120px;
  text-align: center;
}
.navigation-links a:hover {
  color: white;
  border: 1px solid white;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.email-link {
  color: var(--primary-color);
  font-size: 25px;
  text-decoration: none;
}
hr {
  color: var(--primary-color);
}
